* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  /* background-image: url(images/superherobackground.jpg); */
  font-size: 1.8rem;
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
button,
input {
  font-family: inherit;
  font-size: 2rem;
  outline: 0;
  border: none;
  background-color: transparent;
}
li {
  list-style-type: none;
}
img {
  /* border: 1px solid #fff; */
  display: flex;

  width: 50%;
  height: 50%;
  display: block;
  border-radius: 20%;
}
.main {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}
.app {
  background-color: black;
  margin: 2rem;
  padding: 5rem;
  border-radius: 6px;
  color: #fff;

  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header-title span {
  color: blueviolet;
}
.app-header-search {
  border: 1px solid #505050;
  border-radius: 2rem;
  padding: 1rem 2rem;
  position: relative;
}
.app-header-search .form-control {
  min-width: 390px;
  color: #fff;
}
.app-header-search .search-btn {
  color: #505050;
  font-size: 2.3rem;
  cursor: pointer;
}

/* search list */
.search-list {
  z-index: 10;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  background-color: #fff;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
.search-list::-webkit-scrollbar {
  width: 7px;
}
.search-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.search-list::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 5px;
}
.search-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
  padding: 0.4rem 0;
}
.search-list-item img {
  width: 50px;
  margin-right: 2rem;
}
.search-list-item p {
  font-weight: 700;
  cursor: pointer;
}

/* app body */
.app-body {
  margin-top: 4rem;
  height: 600px;
  overflow-y: scroll;
}
.app-body::-webkit-scrollbar {
  width: 7px;
}
.app-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.app-body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 5px;
}

/* app body nav heads */
.app-body-nav-head {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding-bottom: 1.6rem;
  margin: 2.4rem 2.4rem;
}
.nav-head-single {
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
  font-size: 1.9rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nav-head-single:hover {
  opacity: 0.8;
}
.nav-head-single.active-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.7rem;
  width: 100%;
  height: 4px;
  background-color: blueviolet;
}

/* app body content */
.app-body-content {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  margin-right: 2rem;
}

.app-body-content-image {
  /* border: 1px solid #fff; */
  border-radius: 50%;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.app-body-content-list .name {
  /* border: 1px solid #fff; */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.4rem;
  font-weight: 500;
  margin-top: -1.2rem;
}
.app-body-nav-body {
  margin-top: 3.6rem;
}

.add-fav-btn {
  font: 400;
  color: red;
  cursor: pointer;
}

/* biography */
.biography {
  display: none;
}
.biography li {
  margin: 3.4rem 0;
  padding-left: 10rem;
}
.biography li span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.9rem;
}
.biography li span:first-child {
  font-weight: 600;
  color: #505050;
  margin-right: 1rem;
}
.biography li span:last-child {
  font-weight: 320;
}

/* powerstats */
.powerstats {
  display: none;
}
.powerstats li {
  display: flex;

  justify-content: space-between;
  margin: 1.2rem auto;
  padding: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
}

.powerstats li div span {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 0 1.2rem;
  margin: 0 1.6rem;
  opacity: 0.6;
  font-size: 1.7rem;
}
.powerstats li > span {
  color: burlywood;
  font-weight: 700;
}

/* appearance */
.appearance {
  display: none;
}
.appearance li {
  margin: 3.2rem 0;
  display: flex;
  padding-left: 10rem;
  align-items: center;
  justify-content: space-between;
}
.appearance li span:first-child i {
  margin-right: 1.4rem;
}
.appearance li span:first-child {
  text-transform: capitalize;
  font-weight: 600;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 4rem;
}
.appearance li span:last-child {
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 2rem;
  padding: 0 1rem;
  text-align: right;
  margin-right: 2.5rem;
}

/* work */
.work {
  display: none;
}
.work li span:first-child {
  display: block;
  padding-left: 10rem;

  text-transform: uppercase;
  font-weight: 500;
  color: #505050;
  margin: 1.6rem 0 1.6rem 0;
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 3.6rem;
}
.work li span:first-child::before {
  content: "";
  position: absolute;
  top: 50%;

  left: -40px;
  height: 3px;
  width: 30px;
}
.work li span:last-child {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  line-height: 1.9;
  padding-left: 10rem;
}
/* connections */
.connections {
  display: none;
}
.connections li span:first-child {
  display: block;
  padding-left: 10rem;

  text-transform: uppercase;
  font-weight: 500;
  color: #505050;
  margin: 1.6rem 0 1.6rem 0;
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 3.6rem;
}
.connections li span:first-child::before {
  content: "";
  position: absolute;
  top: 50%;

  left: -40px;
  height: 3px;
  width: 30px;
}
.connections li span:last-child {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
  line-height: 1.9;
  padding-left: 10rem;
}

@media screen and (max-width: 1200px) {
  .app-body-content {
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  .nav-head-single {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .app-body-content-list .name {
    text-align: center;
    margin-top: 1.8rem;
  }
  .app-body-content {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
  }
  .app-body-content-image {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .app-header {
    flex-direction: column;
  }
  .app-header-search {
    margin-top: 2.8rem;
  }
  .app-body-content-list .name {
    text-align: left;
    margin-top: 1.8rem;
  }

  .app-body-content-list p {
    text-align: left;
  }

  .app-body-content-image {
    width: 100%;
    height: 60%;
    display: flex;

    justify-content: center;
    /* overflow: hidden; */
  }

  .app-body-content .fav-btn {
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 768px) {
  .app-body-nav-head {
    flex-direction: column;
  }
  .app-header-search {
    display: flex;
  }
  .app-header-search .form-control {
    min-width: auto;
    color: #fff;
  }
  .app-header-search .search-btn {
    padding-left: 2rem;
  }

  .app-body-content-list p {
    display: flex;
    justify-content: center;
  }

  .app-body-content-image {
    width: 100%;
    height: 60%;
    display: flex;

    justify-content: center;
    /* overflow: hidden; */
  }

  .app-body-content {
    display: flex;
    justify-content: center;
  }

  .app-body-content .fav-btn {
    display: flex;
    justify-content: center;
  }

  .app-body-nav-body {
    margin-right: 1rem;
  }

  .powerstats li {
    margin: 3.4rem 0;
    padding-left: 2rem;
  }

  .appearance li {
    margin: 3.4rem 0;
    padding-left: 2rem;
  }

  .biography li {
    margin: 3.4rem 0;
    padding-left: 2.5rem;
  }

  .work li span:first-child {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

    text-transform: uppercase;
    font-weight: 500;
    color: #505050;
    margin: 1.6rem 0 1.6rem 0;
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 3.6rem;
  }
  .work li span:last-child {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    line-height: 1.9;
    padding-left: 3rem;
  }

  .connections li span:first-child {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

    text-transform: uppercase;
    font-weight: 500;
    color: #505050;
    margin: 1.6rem 0 1.6rem 0;
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 3.6rem;
  }
  .connections li span:last-child {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    line-height: 1.9;
    padding-left: 3rem;
  }

  .nav-body-single {
    margin-right: 0;
  }
  .app-body-content {
    display: flex;
    flex-direction: column;
  }

  .app-body-content-image {
    max-width: 8000px;
    margin: 0 auto;
  }
}

/* show-nav */
.show-nav {
  display: block;
}
